body {
    background-color: #c5cae9;
}

header {
    text-align: center;
}

header nav ul {
    text-align: center;
}

header nav ul {
    /*margin: auto;
  width: 25%;*/
    display: inline-block;
}

header nav ul li a {
    position: relative;
    color: #fff;
    letter-spacing: -1px;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.7em;
    margin: 0 25px;
}

.contact-header {
    @extend .indigo;
}

#mainHeader {
    color: #FFC200;
}

#aboutimg {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    margin: 20px;
}

#titletext {
    color: #FFC200;
}

#about-title {
    font-size: 2em;
    margin-left: 20px;

}


#about-line{
    width: 50%;
    border: 2px solid grey;
    margin-left: 20px;
}

.testflex{
    display: flex;
    align-items: center;

}

.resumeflex {
    display: flex;
    height: 100vh;
}



#about-twitter{
    font-size: 2.1em;
    margin-left: 20px;
    color: #E86F0C;
}

#about-info {
    font-weight: 300;
    font-size: 1.5em;

}

.get-in-touch {
    text-align: center;
}

.follow a {
    opacity: .25;
    transition: .5s;
}

.follow a:hover {
    opacity: 1;
}

.footer-copyright {
    text-align: center;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row>.input-field {
    border: solid 1px gray;
    background-color: white;
    padding: 25px;
    /*margin-bottom: 20px;*/
}

.input-field label {

    left: 25px;
    top: 50px;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    font-size: 22px;
    line-height: 10px;
}

#body-container {
    margin-top: 30px;

}

.pf-grid {
  display: flex;
  flex: 1;
  align-items:center;
  justify-content:flex-start;
  align-content: center;
  min-height: 300px;
  flex-wrap: wrap;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;

}

.pf-grid > * {
transition:transform 0.5s;

}
.pf-icon {
    flex: 1 0 auto;

    box-sizing: border-box;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border: 2px solid red;
    margin: 5px;

}

.pf-icon:hover {
    transform:scale(1.4);
}

.pf-detail {
    display: flex;
    flex: 1
    margin: 20px;
    align-items: center;

}
.ct {
    color: black;
    font-weight: bold;
}

#detail1 {
  flex: 1;
}
#body-container{
    overflow: hidden;
}


/* keep the card off the page*/
.card1 {transform: translateX(150%);}



.panel.open-active > *:first-child {transform: translateY(0%);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0%);}
